<header class="header">
    <div class="container">
        <div class="header__container">
            <img src="/icons/iconLogo.svg" alt="Лого" class="header__logo">
            <nav class="header__nav header__nav--desk" >
                <a href="#" class="header__link">ГЛАВНАЯ</a>
                <a href="#" class="header__link">КАТАЛОГ</a>
                <a href="#" class="header__link">О КОМПАНИИ</a>
                <a href="#" class="header__link">ОПЛАТА И ДОСТАВКА</a>
                <a href="#" class="header__link">КОНТАКТЫ</a>
            </nav>
            <button class="header__toggle" >
                <img src="/icons/iconBurger.svg" alt="" class="header__icon header__icon--burger">
                <img src="/icons/iconClose.svg" alt="" class="header__icon header__icon--close">
            </button>
        </div>
        <nav class="header__nav header__nav--mobile">
            <a href="#" class="header__link">ГЛАВНАЯ</a>
            <a href="#" class="header__link">КАТАЛОГ</a>
            <a href="#" class="header__link">О КОМПАНИИ</a>
            <a href="#" class="header__link">ОПЛАТА И ДОСТАВКА</a>
            <a href="#" class="header__link">КОНТАКТЫ</a>
        </nav>
    </div>
</header>
